{% load static %}

{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>HealthDoc</title>
<!--

Template 2089 Meteor

http://www.tooplate.com/view/2089-meteor

-->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/fontAwesome.css' %}">
        <link rel="stylesheet" href="{% static 'css/hero-slider.css' %}">
        <link rel="stylesheet" href="{% static 'css/tooplate-style.css' %}">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

        <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    </head>

<body>
    <div class="header">
        <div class="container">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand scroll-top">
                        <div class="logo"></div>
                    </a>
                </div>
                <!--/.navbar-header-->
                <div id="main-nav" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="" class="scroll-top">Home</a></li>
                        
                        <li><a href="" class="scroll-link" data-id="contact">Covid Quick Test</a></li>
                    </ul>
                </div>
                <!--/.navbar-collapse-->
            </nav>
            <!--/.navbar-->
        </div>
        <!--/.container-->
    </div>
    <!--/.header-->


    <section class="cd-hero">
        <ul class="cd-hero-slider autoplay">  
        <!-- 
            <ul class="cd-hero-slider autoplay"> for slider auto play 
            <ul class="cd-hero-slider"> for disabled auto play
        -->
            <li class="selected first-slide">
                <div class="cd-full-width">
                    <div class="tm-slide-content-div slide-caption">
                        <span>Welcome to</span>
                        <h2>HealthDoc</h2>
                        <p>Your Health Assistant!</p>
                                                   
                    </div>                   
                </div> <!-- .cd-full-width -->
            </li>


            <li class="third-slide">
                <div class="cd-full-width">
                    <div class="tm-slide-content-div slide-caption">
                        <h2>Covid is Real</h2>
                        <p>Please use your nose mask always.</p>                           
                    </div>                         
                </div> <!-- .cd-full-width -->
            </li>
        </ul> <!-- .cd-hero-slider -->

        <div class="cd-slider-nav">
            <nav>
                <span class="cd-marker item-1"></span>
                
                <ul>
                    <li class="selected"><a href="#0"></a></li>
                    <li><a href="#0"></a></li>
                    <li><a href="#0"></a></li>                        
                </ul>
            </nav> 
        </div> <!-- .cd-slider-nav -->
    </section> <!-- .cd-hero -->

    <div id="about" class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h4>Symptoms Of Covid19</h4>
                        <div class="line-dec"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item fourth-service">
                        <div class="icon"></div>
                        <img src="{% static 'img/cough.jpg'%}" alt="">
                        <h4>DRY COUGH</h4>
                        <p>A cough not accompanied by phlegm production.</p>
                    </div>
                </div>
                 <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item fourth-service">
                        <div class="icon"></div>
                        <img src="{% static 'img/fever.jpg'%}" alt="">
                        <h4>FEVER</h4>
                        <p>A fever is a temporary increase in your body temperature.</p>
                    </div>
                </div>
                 
                 <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item fourth-service">
                        <div class="icon"></div>
                        <img src="{% static 'img/tired.jpg'%}" alt="">
                        <h4>TIREDNESS</h4>
                        <p>The state of wishing for sleep or rest; weariness.</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item fourth-service">
                        <div class="icon"></div>
                        <img src="{% static 'img/sore.jpg'%}" alt="">
                        <h4>SORE THROAT</h4>
                        <p>A sore throat is a throat's pain that often worsens when you swallow.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item fourth-service">
                        <div class="icon"></div>
                        <img src="{% static 'img/dia.jpg'%}" alt="">
                        <h4>DIARRHOEA</h4>
                        <p>When you have diarrhea, your stool will be loose and watery.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item fourth-service">
                        <div class="icon"></div>
                        <img src="{% static 'img/head.jpg'%}" alt="">
                        <h4>HEADACHE</h4>
                        <p>Headache is defined as pain arising from the head or upper neck of the body.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item fourth-service">
                        <div class="icon"></div>
                        <img src="{% static 'img/chest.jpg'%}" alt="">
                        <h4>CHESTPAIN</h4>
                        <p>This is an inflammation or irritation of the lining of the lungs and chest. </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item fourth-service">
                        <div class="icon"></div>
                        <img src="{% static 'img/short.jpg'%}" alt="">
                        <h4>SHORTNESS OF BREATH</h4>
                        <p>Shortness of breath is described as an intense tightening in the chest or difficulty breathing.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    



    <div id="fun-facts">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h4>States With Highest Cases</h4>
                        <div class="line-dec"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d253682.45932571165!2d3.1438707182422654!3d6.548376812166333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b8b2ae68280c1%3A0xdc9e87a367c3d9cb!2sLagos!5e0!3m2!1sen!2sng!4v1631784767912!5m2!1sen!2sng" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    <div class="fact-item">
                        <span>Lagos State</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1009054.5147761636!2d6.691502281772185!3d8.914947998617288!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x104e6157ce3eeda9%3A0x32af1c368be32dfc!2sFederal%20Capital%20Territory!5e0!3m2!1sen!2sng!4v1631786062478!5m2!1sen!2sng" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    <div class="fact-item">
                        <span>FCT</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1017471.4142176348!2d6.437569432667034!3d5.0227105108084205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1069eb680cf52ee3%3A0x88546243f24fb95c!2sRivers!5e0!3m2!1sen!2sng!4v1631786132860!5m2!1sen!2sng" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    <div class="fact-item">
                        <span>RIVERS STATE</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d251066.54183641876!2d7.28921180259762!3d10.507383340261445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x104d355834371775%3A0x480195979abfe174!2sKaduna!5e0!3m2!1sen!2sng!4v1631786199131!5m2!1sen!2sng" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    <div class="fact-item">
                        <span>KADUNA STATE</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="contact" class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h4 style="color: black;">Quick Covid Test</h4>
                        <div class="line-dec" style="color: black;"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="map">
                        <img src="{% static 'img/test.jpg'%}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                      <form id="contact" action="" method="post" style="color: lightgreen;">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="form-control" id="cf-submit" name="submit">Submit Button</button>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        // navigation click actions 
        $('.scroll-link').on('click', function(event){
            event.preventDefault();
            var sectionID = $(this).attr("data-id");
            scrollToID('#' + sectionID, 750);
        });
        // scroll to top action
        $('.scroll-top').on('click', function(event) {
            event.preventDefault();
            $('html, body').animate({scrollTop:0}, 'slow');         
        });
        // mobile nav toggle
        $('#nav-toggle').on('click', function (event) {
            event.preventDefault();
            $('#main-nav').toggleClass("open");
        });
    });
    // scroll function
    function scrollToID(id, speed){
        var offSet = 50;
        var targetOffset = $(id).offset().top - offSet;
        var mainNav = $('#main-nav');
        $('html,body').animate({scrollTop:targetOffset}, speed);
        if (mainNav.hasClass("open")) {
            mainNav.css("height", "1px").removeClass("in").addClass("collapse");
            mainNav.removeClass("open");
        }
    }
    if (typeof console === "undefined") {
        console = {
            log: function() { }
        };
    }
    </script>
</body>
</html>